@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background 0.3s ease;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 150, 0.9);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
}

.glow-effect {
  animation: glow 2s ease-in-out infinite alternate;
}


.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
